@import 'tailwindcss';

@font-face {
  font-family: 'Gap Sans';
  font-style: normal;
  font-weight: normal;
  src:
    local('Gap Sans'),
    url('fonts/GapSans.woff2') format('woff2');
}

@font-face {
  font-family: 'Reddit Mono', monospace;
  font-style: normal;
  font-weight: normal;
  src:
    local('Reddit Mono'),
    url('fonts/RedditMono-Regular.woff2') format('woff2');
}

/* =========================================================
   RESET + DESIGN TOKENS
========================================================= */

:root {
  --bg: #0f1117;
  --surface: #161a22;
  --surface-2: #1d2330;

  --text: #f3f4f6;
  --text-muted: #9ca3af;

  --border: rgba(255, 255, 255, 0.08);

  --primary: #8b5cf6;
  --primary-soft: rgba(139, 92, 246, 0.15);

  background: var(--bg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* =========================================================
   GLOBAL RESET
========================================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Reddit Mono', monospace;
}

html,
body,
#app {
  width: 100%;
  min-height: 100svh;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #0a0a0f;
  /* background:
    radial-gradient(circle at top, rgba(139, 92, 246, 0.15), transparent 35%),
    var(--bg); */

  color: var(--text);
}

/* =========================================================
   TYPOGRAPHY
========================================================= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: 'Gap Sans', sans-serif;
  font-size: clamp(2.5rem, 6vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.25rem);
  font-weight: 600;
}

/* =========================================================
   APP LAYOUT
========================================================= */

#app {
  display: flex;
  flex-direction: column;
}
